<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpriteInterface-iOS-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SpriteInterfaceKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B44CA0421BA1490B009A0F85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B44CA05C1BA149E8009A0F85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B498F5DF1B9D1C2600FA7201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E49F2A1BA1A3FE00292568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA4C61BA260050094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA5321BA274460094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA5531BA274880094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA5951BA277160094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA5C11BA27DAD0094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA5E11BA27E370094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA6011BA27E590094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA61B1BA27E810094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA6351BA27E990094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FEA6801BA28E850094355B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
